.sidenav {
    background-color: #fff;
    color: #333;
    padding-top: 30px;
  }
  .sidenav-content{
    text-align: center;
  }
  .sidenavpaddin{
    padding: 0px 17px;
  }
.userInfo-section{
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  padding: 11px;
  border-radius: 4px;
}
.acctgglediv{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.username{
  font-size: 14px;
  cursor: pointer;
}
.acctgglediv>h4{
  margin-bottom: 4px;
  font-size: 18px;
  color:  #0675c1;
}
.initials-tag{
  padding-top: 10px;
  font-weight: 700;
}
.initials-tag>span{
  color:  #0675c1;
  background: rgba(46, 106, 240, 0.1);
  padding: 7px;
  border-radius: 35px;
  font-size: 14px
}
.acccollapsediv{
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.4s ease;
}
.editprofdiv{
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 5px;
}
.editprofdiv:hover{
  color:  #0675c1;
}
.edittag{
    width: 83px;
    margin-left: 1rem;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
  }
.logouttag{
  width: 35%;
  text-align: center;
  margin-bottom: 5px;
}
.userprofileacc{
  margin-bottom: 65px;
  box-shadow: 0px 2px 8px rgb(3 50 154 / 10%);
}
.arrow-down{
  color: #70757a;
  font-size: 14px;
  transition: .4s ease;
}
.arrowflip{
  transform: rotate(-180deg);
  color: #70757a;
  font-size: 14px;
  transition: .4s ease;
}
.dashboard-content{
  background-color: #f2f5fc;
  padding: 0px 27px;
}
.sidenavdemarcation{
  border: 1px solid #f2f5fc;
  margin: 28px 0px;
}
.sidenavlinkdiv{
  padding: 7px 10px 7px 45px;
  margin-bottom: 12px;
  transition: all .2s ease;
}
.sidenav a{
  display: block ;
  text-decoration: none;
}
.sidenavlinkdiv:hover{
  background-color: #0675c1;
  color: #fff;
  border-radius: 5px;
  cursor:pointer;
}
.sidenavicons{
  margin-right: 25px; 
}
.user-imgdisplaydv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.userimgspan{
  display: inline-block;
  border: 3px solid #ececec;
  background: #ececec;
  height: 61px;
  width: 56px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  padding: 2px;
}
.useravatardiv{
  margin-right: 13px;
}
.dashboard-content>h3{
  margin-bottom: 20px; 
}
.msstoparentwrapper{
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgb(48 51 54 / 8%), 0 2px 16px 0 rgb(48 51 54 / 8%);
  padding: 31px 27px 4px 27px;
  margin-bottom: 30px;
}
.mssgtoparentimage{
  margin-top: -76px;
}
.viewedprofiles{
  display: flex;
}
.viewedprofiles>span{
  margin-right: 23px;
  color: #0675c1; 
}
.viewedprofiles>p{
  margin-bottom: 6px;
  margin-right: 23px;
}
.bookstats{
  margin-right: 31px;
  margin-bottom: 0px;
}
.bookedstatsdiv{
  display: flex;
  align-items: baseline;
}
.bookedstatsdiv>span{
  margin-right: 25px;
  color: #0675c1;
}
.tutor-search-wrapper{
  margin-top: -1px;
  margin-bottom: 0;
  border-top: 3px solid #1976d2;
  box-shadow: 0 8px 16px 0 rgb(24 19 87 / 7%);
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
}
.dshbdfindatutorcontent{
  display: flex;
  padding-right: 0;
}
.dshbdfindatutorcontent>img{
  flex-shrink: 0;
  width: 35px;
  height: auto;
  margin: 0 1em 0 0;
}
.findftutordiv>h3{
  font-size: 16px;
  line-height: 1.25em;
  font-weight: bold;
  color: #303336;
  margin-bottom: .25em;
}
.findftutordiv>p{
  font-size: 1rem;
  color: #303336;
  margin-bottom: 0;
  font-weight: 400;
}
.unreadmsswrapp{
  background: #fff;
  padding: 20px 32px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgb(24 19 87 / 7%);
}
.dashbdunrdmssgrow{
  margin: 23px 0px;
}
.unrdmss-title{
  margin-bottom: 18px;
  font-size:16px;
  font-weight: 700;
}
.unreadmsswrapp>img{
  margin-bottom:20px
}
.unreadmsswrapp>p{
  margin-bottom:13px;
  text-align: center;
}
.centerdbtn{
  text-align: center;
}
.unrdmsss-btn{
  display: inline-block;
  text-align: center;
  background: #0675c1;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.slect-inputwrapper{
  padding-left: 0px;
}
.tutorsearchlabel{
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25em;
  color: #545174;
}
.tutorsearchbtn{
  text-align: center;
  margin-top: 24px;
  padding: 12px 0px;
  background-color: #f5f4f7;
  color: #1976d2;
  font-weight: 700;
  cursor: pointer;
}
.subjectselectinpt:invalid{
  color: #303336;
  font-size: 14px;
}
.recentlyviewed-section{
  background-color: #fff;
  border-radius: 5px;
  padding: 29px;
  height: 100%;
}
.recentlyviewed-heading{
  font-weight: 600;
}
.recentlyviewd-sectioncol{
  padding-right: 0px;
}


/* Mui select list styling */
.MuiInput-root{
width: 100%;
}
.MuiSelect-select.MuiSelect-select{
  padding: 15px;
  border: 1px solid #9999;
  border-radius: 5px;
  font-size: 14px;
  color: #1976d2;
  font-weight: 700;
}
.MuiSelect-select:focus{
  border-radius: 5px !important;
  font-size: 14px;
  font-weight: 700;
}
.MuiInput-underline:before{
  border-bottom: none !important;
}

.MuiInput-underline:after{
  border-bottom: none !important;
}
.MuiMenuItem-root{
  font-weight: 700 !important;
  font-size: .75em !important;
}
.tutorselttgplaceholder{
  margin: 0;
}
.MuiPaper-root{
 top: 238px !important;
}

/* mobile responsiveness */
@media (max-width: 760px){
  .dshbdfindatutorcontent {
    margin-bottom: 15px;
  }
  .slect-inputwrapper{
    padding-left: 15px;
  }
  .recentlyviewd-sectioncol{
    padding-left: 0px;
    margin-top: 23px;
  }
}