nav{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: baseline;
}
.logo{
    color:#fff;
    display: flex;
}

.logo_img{
    display: inline-block;
    background-image: url(../../images/toptutors.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
  .navlist li .navlinks {
    text-decoration: none;
    color: inherit;
}

.navlinks::after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
}
.navlinks:hover::after { 
    transform: scaleX(1);

}
.button{
    display: inline-block;
    border-radius: 7px;
    padding: 5px 26px;
    background-color: #fff;
    color: #0675c1;
    transition: all 0.5s ease;
}
.button:hover{
    color:#fff;
    background-color: #0675c1;
}
.burger{
    display: none;
    cursor: pointer;
}


@media screen and (max-width:1024px){
    .navlist{
        width: 60%;
    }
    .proj-assignment{
        width: 97%;
    }
    .special-skills{
        width: 77%;
    }
}  
@media screen and (max-width:760px){
    body{
      overflow-x: hidden;
  
  }
  
 nav{
  display: flex;
  position: fixed;
  background-color: #0675c1;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  z-index: 12;
  width: 100%;
  padding: 20px -1px 20px -1px;
 }
 .distance{
  display: block;
 }
 .button:hover{
    color:#0675c1;
    background-color: #fff;
 }
}

