.section-6{
    background-color: #0675c1;
    color: #fff;
    padding-top: 60px;
    
}
.footer-content{
    margin-top: 13px;
}
.footer-header{
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 21px;
    margin-top: 15px;

}
.footer-list{
    text-decoration: none;
    list-style: none;
}